{% extends "base.html" %}
{% block title %}Login - My Blog{% endblock %}

{% block content %}
<div class="container">
    <div class="card shadow p-4">
        <h2 class="text-center text-primary">Login</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary w-100 mt-3">Login</button>
        </form>
        <p class="text-center mt-2">New here? <a href="{% url 'register' %}">Register</a></p>
    </div>
</div>
{% endblock %}
